<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Include the navbar code -->
    {% include 'navbar.html' %}
    
    <style>
        body {
            margin: 0; /* Remove default margin */
        }

        .content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh; /* 100% of the viewport height */
            padding-top: 56px; /*Adjusted to accommodate the fixed navbar */
        }

        .link-buttons {
            margin-top: 20px;
        }
    </style>

    <title>Home Page</title>
</head>
<body>
    <div class="content-container">
        <h1>Welcome to the Library</h1>
        <!-- Add content for your home page -->
        <p class="button-text">
            Embark on literary adventures in the <a href="/books" class="btn btn-primary">Books</a> section. Here, you have the power to add, remove, and uncover hidden gems in the vast sea of books.
        </p>
        <p class="button-text">
            Dive into the realm of <a href="/customers" class="btn btn-primary">Customers</a>, where you can build and nurture a community of readers. Add, remove, and connect with the book-loving souls.
        </p>
        <p class="button-text">
            Navigate through the <a href="/loans" class="btn btn-primary">Loans</a> page to manage the intricate web of book loans. Keep the literary universe in balance.
        </p>

        <!-- Use Bootstrap buttons for links -->
        <!-- <div class="link-buttons">
            <a href="/books" class="btn btn-primary">Books</a>
            <a href="/customers" class="btn btn-primary">Customers</a>
            <a href="/loans" class="btn btn-primary">Loans</a>
        </div> -->
    </div>
</body>
</html>
